<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Test\StoreReviews\Api\Data\ReviewInterface"
                type="Test\StoreReviews\Model\Review" />
    <preference for="Test\StoreReviews\Api\ReviewRepositoryInterface"
                type="Test\StoreReviews\Model\ReviewRepository" />
    <preference for="Test\StoreReviews\Api\Data\ReviewSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="Test\StoreReviews\Model\ResourceModel\Review\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">store_reviews</argument>
            <argument name="resourceModel" xsi:type="string">
                Test\StoreReviews\Model\ResourceModel\Review\Collection
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="storereviews_review_grid_data_source" xsi:type="string">
                    Test\StoreReviews\Model\ResourceModel\Review\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
</config>
