<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="weather_api" translate="label" type="text" sortOrder="100" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Weather API</label>
            <tab>service</tab>
            <resource>Test_WeatherType::preferences</resource>
            <group id="settings" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="12">
                <label>Weather API</label>
                <field id="url_weather" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                    <label>URL Weather</label>
                </field>
                <field id="url_coordinates" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20">
                    <label>URL Coordinates</label>
                </field>
                <field id="api_key" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="30">
                    <label>API KEY</label>
                </field>
                <field id="units" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40">
                    <label>Units</label>
                </field>
                <field id="size" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="50">
                    <label>Size</label>
                </field>
            </group>
        </section>
    </system>
</config>
