
<div style="background-color: #9b7878">
    <p>Test rendering UI</p>
    <span data-bind="text: 'Text UI'"></span>
    <span data-bind="text: outText"></span>
    <span data-bind="text: outText"></span>
</div>
<div style="background-color: #9b7998">
    <span data-bind="text: textFromPhp"></span>
</div>
<button data-bind="text: 'Click Me', click:clickButton"></button>
<button data-bind="text: 'Click Me 2 ', click:clickButton2"></button>


<!-- ko foreach: getRegion('childComponentCustom') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
